@font-face {
  font-family: 'GTWalsheim';
  src: url('./assets/font/subset-GTWalsheim-Regular-_1.ttf') format('truetype'),
       url('./assets/font/subset-GTWalsheim-Medium.ttf') format('truetype'),
       url('./assets/font/subset-GTWalsheim-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f1f3f6;
  font-family: 'GTWalsheim', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.containerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.containerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 5rem 5rem 0 5rem;
  gap: 4rem;
  background-color: #f1f3f6;
}

.gap-2{
  gap: 2rem;
}